body{
    height:3000px;
    background-image: url("https://talkstation.co.kr/Board/icon/member_54818_1599740003.png");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.gradient{
    position: relative;
    left: 20px;
    height: 3000px;
    width: 100px;
    background: linear-gradient(#ee9ca7,#fffcdc);
}
/* flex 컨테이너 동일 속성*/
.container{
    height:70px;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position:fixed;
    align-items:center;
    justify-content: space-evenly;
}

/* flex 아이템 동일 속성 */
.container>div{
    flex-basis:150px;
    height:50px;
    border-radius: 30px;
    font-weight:700;
    text-align: center;
    line-height:50px;
    position:fixed;
}
.container1{
    background-color: #ffdde1;
    top:0px;
}
.container2{
    bottom:0px;
    background-color: #e2e2e2;
}
.topmenu{
    background-color: #FFC2CA;
}

.bottommenu{
    background-color: #c9d6ff;
    flex-grow:1;
    flex-basis:0;
}
.bottommenu:last-child{
    flex-grow:2;
}


/*버튼에 마우스가 올라가면 버튼 색상이 변경*/
.topmenu:hover{
    background-color: #80494F;
    color:white;
}
.bottommenu:hover{
    background-color: #2c3e50;
    color:white;
}