body{
    /* 글씨체추가+ 전체 배경색이나 글꼴색 추가*/
}



/*header*/
.header_div>header{
    position: fixed;
    /*header size*/
    width: 100vw;
    height: 150px;
    box-sizing: border-box;
    /*header가 항상 맨 앞으로 오도록 z-index 주기*/
    background-color: red;
    /*그림자 삽입*/
    box-shadow: 0 1px 5px rgb(175, 174, 174);

}



.header_div div{
    font-size: 23px;
    font-weight: 700;
    height: inherit;
    margin: auto;
    
    text-align: center;
    
}
.header_div img{
    height: 120px;
    padding:15px 0;
}

/*aisde*/
.aside_div{
    display: inline-block;
    position: absolute;
    top: 150px;
    
    background-color: yellow;

    height: calc(100% - 150px);
    width: 200px;
    margin: 0;
}
.aside_div li{
    /* list 점 없애기*/
    list-style: none;
}

.aside_div a{
    /*링크에 밑줄 없애기*/
    text-decoration: none;
}

/*스타일 추가하기*/
.aside_div ul>li{
    text-align: left;
    padding: 20px 30px;
}



.aside_div ul>li:nth-child(1){ /*home*/
    margin:20px 0;
    text-align: center;
    font-weight: 600;
}
.aside_div ul>li:nth-child(2){ /*action*/
    
}

.aside_div ul>li:nth-child(3){ /*fantasy*/
 }

.aside_div ul>li:nth-child(4){ /*horror*/
   
}

.aside_div ul>li:nth-child(5){ /*romance*/
   
}

/*hover 시 스타일 적용하기*/
.aside_div ul>li:nth-child(1):hover{
   

}
.aside_div ul>li:nth-child(2):hover{
    background-color: aqua;
    
}
.aside_div ul>li:nth-child(3):hover{
    background-color: aqua;
    
}
.aside_div ul>li:nth-child(4):hover{
    background-color: aqua;
    
}
.aside_div ul>li:nth-child(5):hover{
    background-color: aqua;
    
}