.home_cinema{
    background-color: gray;
    position: relative;
    max-width: calc(100% - 200px);
    max-height: calc(100% - 150px);
    margin: 0 auto;
    padding: 0 20px;
}
.home_screen{
    position:relative;
    text-align: center;
}
div>div>.img{
    display: block;
    position: absolute;
    width: 100%;
}
.team_name{
    color: white;
}
.seats{
    position: absolute;
    width: 100%;
    top:auto;
}