* {
    margin: 0px;
    padding: 0px;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    article {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: bold 100px/1 "arial";
        color: #fff;

        &.lower {
            background-color: pink;
        }
        &.upper {
            background-color: aqua;
            //특정브라우저에 속한 webkit 엔진이라 접두사가 필요하다. (-moz도 있음)
            -webkit-mask: url("../src/mask1.png"); //mask2:30장 mask3:71장 mask: 74장
            -webkit-mask-size: 2300% 100%; //가로 세로 
            -webkit-mask-position: 0% 0%;

            &.on {
                animation: maskPlay 1.4s steps(22) forwards;
                //steps 총 시간동안 몇번에 나누어 keyframes를 돌리는 것(mask-image에서 한장 뺀 값)
            }
        }
    }
}
@keyframes maskPlay {
    0% {
        -webkit-mask-position: 0% 0%;
    }

    100% {
        -webkit-mask-position: 100% 0%;
    }
}