/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* COMMON */
body{
    width: 100vw;
    height: 100vh; /*100%로 쓰는 것보다 100vh가 안전, 자식요소 쫓아갈 때가 있기 때문 */
    overflow: hidden;
    background-color: #b1e1e2;
}

section {
    width: 1000px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid orange;
}