@charset "utf-8";
/* 문자의 서식: 모든 문자를 자음과 모음으로 구분해서 한자씩 받는다.(내가 쓰는 글자가 안깨진다. ) */

/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
 font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
/*font-family: 'Hi Melody', cursive; */

/* RESET */
* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* COMMON */
body.member_1 {
    background-color:lightblue;
}

/* WRAP */
.wrap {
    width: 340px;
    padding:30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap .menu::after{
    content: "";
    display: block;
    clear: both;
}
.wrap .menu a {
    font-size: 20px;
    color:skyblue;
}

.wrap .menu a:first-child {
    float: left;
}

.wrap .menu a:last-child {
    float: right;
}

/* PROFILE */
.wrap .profile {
    width: 100%;
    text-align: center;
}

.wrap .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.1);
}

.wrap .profile h1{
    font: bold 22px/1 "Hi Melody";
    /* 글자 폰트크기와 동일한 line-height를 주는 것은 분수로 처리하면 된다.  */
    color: #555;
    margin: 20px 0px 10px 0px;
}

.wrap .profile p{
    font: bold 14px/1 "Hi Melody";
    color: #999;
}
.wrap .profile .btnView {
    display: block;
    width: 180px;
    height: 32px;
    margin: 20px auto 20px;
    font: bold 15px/32px "Hi Melody";
    color: white;
    border-radius: 16px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.2);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
    letter-spacing: 2px; /* 글자 자간 */
    background-color:lightblue;
}

/* CONTACT */
.wrap .contact {
    margin-bottom: 25px;
    text-align: left;
}

.wrap .contact li{
    width: 100%;
    padding: 10px 50px ;
    border-bottom: 1px solid #eee;
}
.wrap .contact li:last-child {
    border-bottom: none;
}
.wrap .contact li a {
    color: #555;
}
.wrap .contact li i {
    width: 20%;
    text-align: center;
    color:#555;
    font-size: 15px;
    text-shadow: 2px 2px 2px #ddd;
}

.wrap .contact li span{
    font: 13px/1 "Hi Melody";
    letter-spacing: 1px;
}

/* OTHERS */
.wrap .others {
    text-align: center;
}

.wrap .others a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    margin: 0px 10px;
    opacity: 0.4;
}

.wrap .others a.on {
    opacity: 1;
}

.wrap .others a:nth-of-type(1){
    background-color: skyblue;
    box-shadow: 5px 5px 10px rgba(135, 206, 235, 0.5);
}

.wrap .others a:nth-of-type(2){
    background-color: pink;
    box-shadow: 5px 5px 10px rgb(255, 192, 203, 0.5);
}
.wrap .others a:nth-of-type(3){
    background-color: yellowgreen;
    box-shadow: 5px 5px 10px rgb(154, 205, 50, 0.5);
}

/* CUSTOM */
/* MEMBER 2 */
body.member_2 {
    background-color:rgba(249, 189, 199, 0.538);
}

.member_2 .wrap .menu a {
    font-size: 20px;
    color:pink;
}

.member_2 .wrap .profile .btnView {
    background-color:pink;
}


/* MEMBER 3 */
body.member_3 {
    background-color: rgba(153, 205, 50, 0.517);
}

.member_3 .wrap .menu a {
    font-size: 20px;
    color:yellowgreen;
}

.member_3 .wrap .profile .btnView {
    background-color: rgb(153, 205, 50);
}
