/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* COMMON */
body {
    background-color: #eee;
}

.wrap {
    width: 100%;
    border-bottom: 2px solid #ddd;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.wrap .item {
    width: 300px; 
    padding: 30px;
    background-color: white;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}

.wrap .item h2 {
    font: bold 30px/1 "arial";
    margin-bottom: 20px;
    color: #333;
}

.wrap .item p {
    font: normal 16px/1.5 "arial"; /* 글자높이 떨어지게 하는 것 (24만큼 띄운 거로 봄) */
    color: #777;
}

.wrap .item a {
    display: block; /* a태그의 기본 display는 inline이기에 width와 height가 안먹는다 이를 방지하기 위해 block으로 선언 */
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #555;
    color: white;
    text-align: center;
    font: bold 16px/30px "arial";
    margin-top: 20px;
}