body{
    background-image:url(/KDT-Mission/mission_5th/champions/bg2.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo img{
    width: 100%;
}
.container{
    height:100vh;
}
.champions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    max-width: 800px;
    height: 70vh;
    background-color: rgba(0,0,0, 0.6);
    padding: 5px 20px 10px;
    margin:  auto;
    box-sizing: border-box;
    border-radius: 2%;
}    
.champion{
    width: 80px;
    height: 80px;
    margin:20px;
    border: 3px ridge gray;
    box-sizing: border-box;
}
.image{
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position:relative;
    box-sizing: border-box;
    z-index: 1;
}
.border{
    width: 82px;
    box-sizing: border-box;
    position:absolute;
    top: -4px;
    left:-4px;
}
/* 화면 왼쪽 위의 border들이 왜 겹쳐있는건지..? */
.name{
    color:rgb(180, 180, 180);
    text-align: center;
    margin: 8px auto;
    font-size: 12px;
}
.champion:hover{
    transition: .3s;
    transform: scale(1.2);
    border: 3px groove #c8aa6ec5;
}
.image:active{
    transition: 0.5s;
    transform: perspective(500px) rotateY(180deg);
    filter: grayscale(80%);
    border-radius: 50%;
}
/*champion border를 image보다 앞에 두는 법??:z-index 실패 */
.champion:active{
    transition: .5s;
    border-radius: 50%;
}
.ready{
    max-width: 200px;
    margin: 0 auto;
    position: relative;
    top: -15px;
}
.ready img{
    width: 100%;
}
.container .champions .champion:nth-child(1) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/01.png);
}
.container .champions .champion:nth-child(2) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/02.png);
}
.container .champions .champion:nth-child(3) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/03.png);
}
.container .champions .champion:nth-child(4) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/04.png);
}
.container .champions .champion:nth-child(5) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/05.png);
}
.container .champions .champion:nth-child(6) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/06.png);
}
.container .champions .champion:nth-child(7) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/07.png);
}
.container .champions .champion:nth-child(8) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/08.png);
}
.container .champions .champion:nth-child(9) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/09.png);
}
.container .champions .champion:nth-child(10) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/10.png);
}
.container .champions .champion:nth-child(11) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/11.png);
}
.container .champions .champion:nth-child(12) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/12.png);
}
.container .champions .champion:nth-child(13) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/13.png);
}
.container .champions .champion:nth-child(14) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/14.png);
}
.container .champions .champion:nth-child(15) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/15.png);
}
.container .champions .champion:nth-child(16) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/16.png);
}
.container .champions .champion:nth-child(17) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/17.png);
}
.container .champions .champion:nth-child(18) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/18.png);
}
.container .champions .champion:nth-child(19) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/19.png);
}
.container .champions .champion:nth-child(20) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/20.png);
}
.container .champions .champion:nth-child(21) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/21.png);
}
.container .champions .champion:nth-child(22) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/22.png);
}
.container .champions .champion:nth-child(23) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/23.png);
}
.container .champions .champion:nth-child(24) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/24.png);
}
.container .champions .champion:nth-child(25) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/25.png);
}
.container .champions .champion:nth-child(26) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/26.png);
}
.container .champions .champion:nth-child(27) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/27.png);
}
.container .champions .champion:nth-child(28) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/28.png);
}
.container .champions .champion:nth-child(29) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/29.png);
}
.container .champions .champion:nth-child(30) .image{
    background-image:url(/KDT-Mission/mission_5th/champions/30.png);
}
